<%= admin_form_for_produto do |f| %>
    <%= error_messages_for @produto %>

  <p>
    Nome: <br/>   <%= f.text_field :nome %>
  </p>
  <p>
    Preço: <br/> <%= f.text_field :preco %>
  </p>

  <p>
    Descrição: <br/> <%= f.text_area :descricao %>
  </p>

  <p> <%= submit_tag 'Enviar' %> </p>

<% end %>
