<!DOCTYPE html>
<html>
<head>
  <title>Loja</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar-wrapper" style="z-index: 5;">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3> <%= link_to 'Minha Loja - Adminstração', root_url %> </h3>
        <ul class="nav">
          <li> <%= link_to 'Produtos', admin_produtos_url %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'compartilhados/flash_content' %>
  <%= yield %>
</div>

</body>
</html>
